.sign-up-form{
  background-color: rgb(213, 209, 209); 
  background-image: url("./../images/logo.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  height: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 200%;
  font-family: 'Courier New', Courier, monospace  
};

.input{
  
}