@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



body {
  font-family: 'Permanent Marker', cursive;
}

.homepage {
  background-color: rgb(213, 209, 209);
  background-image: url("./../images/surf-simply-availabilty-nosara.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  height: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 200%;
}

.logo {
  margin: 0px;
  width: 250px;
  height: 200px;
  position: absolute;
  margin: 0 auto;
  top: 10px;
  left: 40%;
  text-align: center;
}

.logo-one {
  margin: 0px;
  width: 300px;
  height: 300 px;
  position: absolute;
  margin: 0 auto;
  top: 10px;
  left: 40%;
  text-align: center;
}

.nav-bar {
  height: 130px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.form-info {
  padding-top: 300px;
}

.sign-up-button {
  width: 50px;
  height: 50px;
  background-color: #b2ebf2;
}

.log-in-button {
  width: 50px;
  height: 50px;
  background-color: #b2ebf2;
}


.sign-up-form {
  background-color: white;
  padding-top: 50px;
  height: 1000px;
  text-align: center;
  font-size: 20px;
  line-height: 200%;

}


.login-form {

  background-color: rgb(213, 209, 209);
  background-image: url("./../images/logo.png");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 50px;
  height: 800px;
  text-align: center;
  font-size: 20px;
  line-height: 200%;
}


.board {
  height: 300px;
  width: 300px;
  border-radius: 50px;
}

.recommend {

  background-color: #b2ebf2;
  text-align: center;


}

.user-name{
  text-align: right;
  margin-right: 30px;
margin-bottom:100px;
}

.container-one{
  margin-left: 15px;
  position: flex;
  flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

.board-img {
  height: 350px;

}

.create-form {
  text-align: center;
}

.create-title {
  text-align: center;
}

.my-profile{
  text-align: center;
}